<footer>
  <div class="row">
    <div class="content">
      <!-- <a
          style="font-size: 1.1rem"
          class="link-active"
          href="https://www.antony-waste.com/"
          target="_blank"
          rel="noreferrer"
          >Antony Waste Handling Cell Limited</a
        > -->
      <!-- <a href="" class="">ScrapQ Hub Pvt Ltd</a> -->
      <div class="footer-col">
        <p>ScrapQ Hub Pvt Ltd</p>
        <p>Copyright 2020 ScrapQ</p>
      </div>
      <div>
        <div class="footer-2">
          <p><img src="assets/phone-book.png" alt="" /></p>
          <p>ScrapQ HeadQuarters</p>
        </div>
        <div class="address-info">
          <p>
            Thakur Mansion Ln, Durga Nagar, Somajiguda, Hyderabad, Telangana,
            50008
          </p>
          <p>
            <img
              style="border-radius: 10px; margin-left: 0"
              src="assets/phone-call.png"
              alt=""
            />
            040 30 70 70 70, +91 90 30 72 72 77
          </p>
        </div>
      </div>
      <!-- <p style="white-space: pre-line; line-height: 1.4; font-size: 0.9rem">
          {{ address }}
        </p> -->
      <!-- <div class="row" style="gap: 5px; justify-content: flex-start">
          <mat-icon color="primary">phone</mat-icon>
          <a href="tel:+91-22-42130300">+91-22-42130300 </a> -->
      <!-- <a href="tel:42130300"> 22-42130300</a> -->
      <!-- </div> -->
    </div>

    <!-- <div class="row">
        <div class="column">
          <a (click)="openPrivacyPolicy()" class="link-active">Privacy Policy</a>
          <a (click)="openCancellationPolicy()" class="link-active"
            >Cancellation Policy</a
          >
          <a (click)="openTermsOfService()" class="link-active"
            >Terms of Service</a
          >
        </div>
      </div> -->
    <!-- <div class="row">
        <a
          href="https://play.google.com/store/apps/details?id=com.click2clean.consumer"
          ><img src="/assets/Google_Play.svg" target="_blank" width="150"
        /></a>
        <a href=""><img src="/assets/Apple.svg" target="_blank" width="150" /></a>
      </div> -->
    <!-- <p class="copyright">Copyright © 2023</p> -->
    <!-- <div class="row">
        <a
          href="https://www.facebook.com/people/Click2Clean/100091928115575/?mibextid=LQQJ4d"
          target="_blank"
          rel="noreferrer"
        >
          <img src="assets/Facebook.svg" height="25" width="25" />
        </a>
        <a
          href="https://twitter.com/click2clean_aw?s=11&t=d_mslZ7X0sEdC4o5Xsg7eQ"
          target="_blank"
          rel="noreferrer"
        >
          <img src="assets/Twitter.svg" height="25" width="25" />
        </a>
        <a
          href="https://www.instagram.com/click2clean.in/?igshid=YmMyMTA2M2Y"
          target="_blank"
          rel="noreferrer"
        >
          <img src="assets/Instagram.svg" height="25" width="25" />
        </a>
        <a
          href="https://in.pinterest.com/clicktoclean3/"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="assets/pininterest.svg"
            style="background: white; border-radius: 12px"
            height="25"
            width="25"
          />
        </a>
      </div> -->
  </div>
</footer>
