<!-- <p>home works!</p> -->
<div>
  <h3 class="Title">How it Works</h3>
</div>
<main class="">
  <div class="container-fluid m-0 p-0">
    <div class="row m-0">
      <div class="Box-content">
        <div class="w-20 how-it-works1">
          <div class="img-wrap">
            <img src="assets/hiw1.jpg" alt="" />
            <div
              class="row img-description hiw-1"
              style="background-color: rgba(158, 214, 85, 0.76)"
            >
              <h1 class="text1"><p>01</p></h1>
              <p class="text2">Contact us</p>
              <p class="text2">90 30 72 72 77</p>
              <hr />
              <p class="text3">logo-img-section</p>
              <p class="text3">Download app</p>
            </div>
          </div>
        </div>
        <!-- 2rd -->
        <div class="w-20">
          <div class="img-wrap1">
            <img class="" src="assets/Hwi2.png" alt="" />
            <div class="row img-description1">
              <p class="text-4">02</p>
              <span class="text-5">
                <p class="">Onsite</p>
                <p class="">Collection</p>
              </span>
            </div>
          </div>
        </div>
        <!--3rd  -->
        <div class="w-20">
          <div class="img-wrap1 hiw-hover">
            <img class="" src="assets/Hwi3.png" alt="" />
            <div class="row img-description3">
              <p class="text-4">03</p>
              <span class="text-5">
                <p class="">Accurate</p>
                <p class="">Weighing</p>
              </span>
            </div>
          </div>
        </div>
        <!-- 4th -->
        <div class="w-20">
          <div class="img-wrap1">
            <img class="" src="assets/Hwi4.png" alt="" />
            <div class="row img-description4">
              <p class="text-4">04</p>
              <span class="text-5">
                <p class="">Instant</p>
                <p class="">Payment</p>
              </span>
            </div>
          </div>
        </div>
        <!-- 5th -->
        <div class="w-20">
          <div class="img-wrap1">
            <img class="" src="assets/Hwi5.png" alt="" />
            <div class="row img-description5">
              <p class="text-4">05</p>
              <span class="text-5">
                <p class="">Responsible</p>
                <p class="">Collection</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- new -->
<div>
  <h3 class="Title mt-4">Recyclables</h3>
</div>
<div class="content">
  <div class="lightslider-item">
    <div class="btn-slider">
      <button type="button" id="gtpSlide" class="slide-btn-man"></button>
      <img id="img-l" src="assets/Icons-21.png" alt="" />
    </div>
    <div class="sliderOuter">
      <div class="SliderWrapper">
        <ul id="light-slider" class="light-slider lightSlider">
          <li class="islide3">
            <a href="">
              <img
                id="img-1"
                src="assets/recyclable-news-paper-green.png"
                alt=""
              />
            </a>
            <!-- <div
              class="tooltip bottom"
              style="top: 57; left: -5; display: block"
            >
              <div class="tooltip-arrow" style="left: 50%"></div>
              <div class="tooltip-inner">NEWS PAPER</div>
            </div> -->
          </li>
          <!--  -->
          <li class="islide3">
            <a href="">
              <img id="img-2" src="assets/recyclable-plastic-gray.png" alt="" />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-3"
                src="assets/recyclable-news-paper-gray.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img id="img-4" src="assets/recyclable-steel-green.png" alt="" />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-5"
                src="assets/recyclable-refrigerator-green.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-6"
                src="assets/recyclable-microwave-gray.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-7"
                src="assets/recyclable-glass-bottle-green.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-8"
                src="assets/recyclable-laptop-scrap-gray.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-9"
                src="assets/recyclable-regular-carton-green.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-10"
                src="assets/recyclable-aluminium-green.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-11"
                src="assets/recyclable-bb-carton-gray.png"
                alt=""
              />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img id="img-12" src="assets/recyclable-cd-green.png" alt="" />
            </a>
          </li>
          <li class="islide3">
            <a href="">
              <img
                id="img-13"
                src="assets/recyclable-cassette-green.png"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bar-1">
  <button id="left-bar" class="leftbar1">
    <img src="assets/Icons-37.png" alt="" />
  </button>
</div>

<!-- 3rd -->
<div class="cinf">
  <div>
    <img class="line-1" src="assets/NewsPaper.jpg" alt="" />
  </div>
  <div>
    <h1 class="NH">NEWSPAPER</h1>
    <p class="c1">
      24 trees are cut down to create 1000 kgs of paper, these trees can be
      saved if we recycle this newspaper. At ScrapQ ,we promote recycling as it
      not only saves our trees but also reduces the usage of energy to produce
      new paper by almost 75%.
    </p>
    <p class="c1">
      Now, just book an appointment with ScrapQ to recycle your Newspaper
      @Uniform rate , with Accurate Weight and Instant Payment .
    </p>
    <p class="c2">Rs.12.00/kg</p>
  </div>
</div>
